@import '_vars';

.about-us {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  &__img {
    flex: 1 0 40%;
    text-align: center;
    @media all and (max-width: 767px) {
      flex: 1 0 100%;
      margin-bottom: 15px;
    }
    img {
      max-width: 100%;
    }
  }
  &__text {
    flex: 1 0 60%;
    padding: 0 50px;
    @media all and (max-width: 767px) {
      flex: 1 0 100%;
      padding: 0;
    }
  }
  &__desc {
    font: 300 15px/24px $font;
  }
}