@import '_vars';
@charset 'utf-8';

.footer {
  background: $grey;
  padding: 50px 0;
  font-size: 14px;
  color: #f7f7f7;
  border-top: 5px solid $orange;
  @media all and (max-width: 767px) {
    padding-bottom: 0;
  }
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__bl {
    @media all and (max-width: 1023px) {
      margin-bottom: 15px;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__desc {
    font-weight: 300;
    line-height: 24px;
    max-width: 300px;
  }
  &__info {
    margin-top: 20px;
    li {
      line-height: 24px;
      margin: 10px 0;
      display: flex;
      align-items: flex-start;
      i {
        width: 30px;
        margin-top: 4px;
        color: #999999;
      }
    }
  }
  &__list {
    font-weight: 500;
    li {
      margin: 20px 0;
      &::before {
        content: url(#{$imgPath}ar-foot.png);
        margin-right: 15px;
      }
    }
  }
}
.copirate {
  background: $grey;
  padding: 20px 15px;
  color: #dbdbdb;
  border-top: 1px solid #464646;
  text-align: center;
  font-size: 14px;
}