@import "_vars";

.news-all {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 0 50%;
    @media all and (max-width: 767px) {
      flex: 0 0 100%;
      padding: 0px;
    }
    .news-item {
      border: 1px solid $lightGrey;
      margin-bottom: 30px;
    }
    &:first-child {
      flex: 0 0 100%;
      text-align: left;
      .news-item__cat {
        margin: 15px 0 15px 10px;
        text-align: left;
      }
      .news-item__nav {
        justify-content: flex-start;
        padding: 0;
      }
      .news-item__title {
        margin-bottom: 20px;
        margin-left: 10px;
        text-align: left;
      }
    }
    .news-item__nav {
      @media all and (max-width: 767px) {
        padding: 0px 15px;
      }
    }
    .news-item__title {
      a {
        display: inline-block;
      }
    }
    .news-item__title {
      margin-bottom: 20px;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin: 8px;
    a {
      display: block;
      padding: 8px 15px;
      border: 1px solid $grey;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      &:hover {
        border: 1px solid $green;
        color: $green;
      }
    }
  }
}